In [10]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.image as mpimg

In [54]:
directory = os.fsencode('data/train')
for file in os.listdir(directory):
    filename = os.fsdecode(file)
    for f in os.listdir(os.path.join(directory,file)):
        imagename=os.fsdecode(f)
        img=mpimg.imread('data/train/'+filename+"/"+imagename)
        print(img.shape)

(2000, 2000)
(1482, 1989, 3)
(1632, 1610, 3)
(817, 1024)
(750, 1024, 3)
(2000, 2000)
(839, 1024)
(995, 1024)
(2000, 2000)
(663, 779, 3)
(663, 784, 3)
(1148, 2563, 3)
(729, 951, 3)
(1031, 1038, 3)
(1080, 1303, 3)
(271, 361, 3)
(689, 907, 3)
(651, 913, 3)
(643, 913, 3)
(1246, 1513, 3)
(1237, 1552, 3)
(1294, 1168, 3)
(1308, 1118, 3)
(411, 477, 3)
(500, 508, 3)
(362, 439, 4)
(362, 445, 4)
(391, 436, 4)
(391, 439, 4)
(737, 763, 3)
(738, 719, 3)
(739, 643, 3)
(1056, 1051, 3)
(1056, 1051, 3)
(1080, 1333, 3)
(1020, 1340, 3)
(1031, 1340, 3)
(986, 968, 4)
(972, 979, 4)
(581, 731, 3)
(462, 497, 3)
(462, 496, 3)
(462, 506, 3)
(235, 331, 3)
(582, 522, 4)
(582, 483, 4)
(576, 516, 4)
(576, 508, 4)
(557, 541, 4)
(557, 533, 4)
(575, 568, 4)
(575, 577, 4)
(442, 443, 3)
(443, 433, 3)
(441, 441, 3)
(967, 1000, 3)
(931, 998, 3)
(645, 701, 3)
(793, 945, 3)
(945, 945)
(882, 876)
(613, 745, 3)
(609, 749, 3)
(671, 693, 3)
(1130, 1180, 3)
(2000, 2000)
(1024, 1024, 3)
(839, 963, 3)
(841, 961, 3)
(797, 961, 3)
(797, 961, 3)
(791, 963, 3)
(843, 969, 3)
(845, 969, 3)
(745, 877, 3)
(743, 861, 3)
(755, 875, 3)
(757, 857, 3)
(434, 528, 3)
(434, 487, 3)
(435, 478, 3)
(433, 490, 3)
(898, 898, 3)
(1668, 1641, 3)
(1024, 1024, 3)
(2000, 2000)
(787, 902, 3)
(806, 834, 3)
(762, 894, 3)
(712, 972, 3)
(913, 994, 3)
(2200, 2200, 3)
(2195, 2200, 3)
(1646, 1974, 3)
(1474, 1904, 3)
(1125, 1200, 3)
(524, 622, 3)
(1812, 2200, 3)
(842, 1024, 3)
(973, 972, 4)
(1703, 1398, 3)
(1841, 1511, 3)
(1820, 1518, 3)
(587, 659, 3)
(1805, 2200, 3)
(580, 499, 4)
(797, 958, 4)
(600, 623, 4)
(872, 1045, 3)
(909, 1082, 3)
(885, 1036, 3)
(1802, 2200, 3)
(1731, 2200, 4)
(1731, 2200, 4)
(825, 864, 3)
(1140, 1330, 4)
(1283, 1711, 4)
(534, 546, 3)
(487, 549, 3)
(489, 585, 3)
(472, 526, 3)
(1483, 2059, 3)
(2000, 2000)
(2000, 2000)
(2000, 2000)
(2000, 2000)
(2339, 2348, 3)
(2000, 2000)
(714, 900, 3)
(2000, 2000)
(2000, 2000)
(1552, 1726, 4)
(2000, 2000)
(2000, 2000)
(958, 1015, 3)
(958, 1003, 3)
(1127, 1300, 3)
(609, 550, 3)
(610, 586, 3)
(609, 605, 3)
(776, 1001, 3)
(3480, 4248, 3)
(1447, 1884, 3)
(2000, 2000)
(806, 1024, 3)
(992, 1024, 3)
(980, 1024)
(1024, 1024, 3)
(2000, 2000)
(2000, 2000)
(3520, 4280)
(2000, 2000)
(1442, 1727, 3)
(2000, 2000)
(862, 1024)
(770, 1024)
(2000, 2000)
(783, 1024)
(2000, 2000)
(481, 479, 3)
(756, 685, 3)
(823, 685, 3)
(754, 685, 3)
(369, 468, 3)
(366, 465, 3)
(249, 255, 4)

KeyboardInterrupt:

In [28]:
df_train.loc[df_train['label'] == 'pneumonia']

,patientid,Image,label,dataset
0,3,SARS-10.1148rg.242035193-g04mr34g0-Fig8a-day0....,pneumonia,cohen
1,3,SARS-10.1148rg.242035193-g04mr34g0-Fig8b-day5....,pneumonia,cohen
2,3,SARS-10.1148rg.242035193-g04mr34g0-Fig8c-day10...,pneumonia,cohen
3,7,SARS-10.1148rg.242035193-g04mr34g04a-Fig4a-day...,pneumonia,cohen
4,7,SARS-10.1148rg.242035193-g04mr34g04b-Fig4b-day...,pneumonia,cohen
...,...,...,...,...
13953,c1628c47-5ba3-42dd-8df3-7ad3abd57ad0,c1628c47-5ba3-42dd-8df3-7ad3abd57ad0.png,pneumonia,rsna
13954,c1cddf32-b957-4753-acaa-472ab1447e86,c1cddf32-b957-4753-acaa-472ab1447e86.png,pneumonia,rsna
13955,c1e73a4e-7afe-4ec5-8af6-ce8315d7a2f2,c1e73a4e-7afe-4ec5-8af6-ce8315d7a2f2.png,pneumonia,rsna
13956,c1ec14ff-f6d7-4b38-b0cb-fe07041cbdc8,c1ec14ff-f6d7-4b38-b0cb-fe07041cbdc8.png,pneumonia,rsna
13957,c1f7889a-9ea9-4acb-b64c-b737c929599a,c1f7889a-9ea9-4acb-b64c-b737c929599a.png,pneumonia,rsna

In [12]:
data_dir = "data"

directory = os.fsencode(data_dir)
    
for file in os.listdir(directory):
    filename = os.fsdecode(file)
    if filename=='train_split.txt':
        df_train = pd.read_csv(data_dir+"/"+filename, sep=" ", header=None)
        df_train.columns = ["patientid","Image", "label", "dataset"]
    if filename=='test_split.txt':
        df_test = pd.read_csv(data_dir+"/"+filename, sep=" ", header=None)
        df_test.columns = ["patientid","Image", "label", "dataset"]
df = pd.concat([df_train,df_test])

In [24]:
df_train

,patientid,Image,label,dataset
0,3,SARS-10.1148rg.242035193-g04mr34g0-Fig8a-day0....,pneumonia,cohen
1,3,SARS-10.1148rg.242035193-g04mr34g0-Fig8b-day5....,pneumonia,cohen
2,3,SARS-10.1148rg.242035193-g04mr34g0-Fig8c-day10...,pneumonia,cohen
3,7,SARS-10.1148rg.242035193-g04mr34g04a-Fig4a-day...,pneumonia,cohen
4,7,SARS-10.1148rg.242035193-g04mr34g04b-Fig4b-day...,pneumonia,cohen
...,...,...,...,...
13953,c1628c47-5ba3-42dd-8df3-7ad3abd57ad0,c1628c47-5ba3-42dd-8df3-7ad3abd57ad0.png,pneumonia,rsna
13954,c1cddf32-b957-4753-acaa-472ab1447e86,c1cddf32-b957-4753-acaa-472ab1447e86.png,pneumonia,rsna
13955,c1e73a4e-7afe-4ec5-8af6-ce8315d7a2f2,c1e73a4e-7afe-4ec5-8af6-ce8315d7a2f2.png,pneumonia,rsna
13956,c1ec14ff-f6d7-4b38-b0cb-fe07041cbdc8,c1ec14ff-f6d7-4b38-b0cb-fe07041cbdc8.png,pneumonia,rsna
13957,c1f7889a-9ea9-4acb-b64c-b737c929599a,c1f7889a-9ea9-4acb-b64c-b737c929599a.png,pneumonia,rsna

In [54]:
df_test

,patientid,Image,label,dataset
0,8,SARS-10.1148rg.242035193-g04mr34g05x-Fig5-day9...,pneumonia,cohen
1,31,streptococcus-pneumoniae-pneumonia-temporal-ev...,pneumonia,cohen
2,31,streptococcus-pneumoniae-pneumonia-temporal-ev...,pneumonia,cohen
3,31,streptococcus-pneumoniae-pneumonia-temporal-ev...,pneumonia,cohen
4,31,streptococcus-pneumoniae-pneumonia-temporal-ev...,pneumonia,cohen
...,...,...,...,...
1574,2c917d3a-95cb-4c11-802c-f83e28cb37bc,2c917d3a-95cb-4c11-802c-f83e28cb37bc.png,pneumonia,rsna
1575,3040d9d7-d895-453f-887c-616c10531960,3040d9d7-d895-453f-887c-616c10531960.png,pneumonia,rsna
1576,c07f52df-d481-434f-84c1-04263926ac40,c07f52df-d481-434f-84c1-04263926ac40.png,pneumonia,rsna
1577,c109061a-d815-4cae-8343-9230d8024adf,c109061a-d815-4cae-8343-9230d8024adf.png,pneumonia,rsna
1578,c18d1138-ba74-4af5-af21-bdd4d2c96bb5,c18d1138-ba74-4af5-af21-bdd4d2c96bb5.png,pneumonia,rsna

In [46]:
df

           patientid  Image  dataset
label
COVID-19         427    617        4
normal          8851   8851        1
pneumonia       6042   6069        2

In [40]:
df.groupby('dataset').nunique()

         patientid  Image  label
dataset
actmed          51     58      1
cohen          325    535      2
fig1            35     35      1
rsna         14863  14863      2
sirm            46     46      1

In [41]:
df.groupby('dataset')['label'].unique()

dataset
actmed               [COVID-19]
cohen     [pneumonia, COVID-19]
fig1                 [COVID-19]
rsna        [normal, pneumonia]
sirm                 [COVID-19]
Name: label, dtype: object

In [42]:
df.groupby('label').nunique()
#covid: 617
#normal: 8851
#pneumonia: 6069

           patientid  Image  dataset
label
COVID-19         427    617        4
normal          8851   8851        1
pneumonia       6042   6069        2